body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
}

#food-img {
    width: 400px;
    
}
.description {
    text-align: start;
}

.list {
    text-align: start;
}