body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
}

#food-img {
    width: 400px;
    
}
.description {
    text-align: start;
}

.lists {
    /* display: flex; */
    /* border: 2px red solid; */
}

.ingredients, .steps{
    /* border: 2px blue solid; */
    margin: 4px auto;
    padding: 8px;
    /* DELETE LATER */
    text-align: start;
}

.ingredients {
    
}

.steps {

}
.list {
    text-align: start;
    margin-top: -2px;
}